<!DOCTYPE html>
<html lang="en">
<%- include(utils.root('/partials/head.ejs'), { page: 'Płatności za Wycieczki' }); %>
<body>
  <div class="page-wrapper">
    <%- include('./partials/page-header.ejs'); %>
    <div class="content-wrapper">
      <main class="content-card">
        <form method="POST" action=".">
          <header class="content-card__header-container">
            <h1 class="content-card__heading">Edytuj Płatność za Wycieczkę</h1>
          </header>
          <%-
            include('./partials/form.ejs', {
              tripParticipant,
              errors,
              participants,
              trips,
              form: {}
            })
          %>
          <div class="form__buttons-container">
            <button type="submit" class="button">Zapisz</button>
            <a href="/trip-payments/" class="button button--muted">Anuluj</a>
          </div>
        </form>
      </main>
    </div>
    <%- include(utils.root('/partials/footer.ejs')); %>
  </div>

  <script src="/scripts/trip-payments.js"></script>
</body>
</html>
