:root {
  --font-family: 'Nunito', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* SIZING */
  --max-width: 60rem;

  /* COLORS */
  --background-fill: hsla(36, 100%, 90%, 1);
  --background-gradient: linear-gradient(to bottom, hsla(38, 89%, 79%, 1), hsla(37, 100%, 90%, 1));

  --table-header: hsla(36, 20%, 93%, 1);
  --table-hover: hsla(40, 73%, 93%, 1);

  --text-default: hsla(36, 20%, 13%, 1);
  --text-muted: hsla(36, 15%, 50%, 1);
  --text-white: hsla(0, 0%, 100%, 1);
  --text-danger: hsla(360, 95%, 50%, 1);
  --text-success: hsla(126, 84%, 40%, 1);

  --common-main: hsla(25, 87%, 48%, 1);
  --common-content-background: hsla(36, 18%, 99%, 1);

  --button-main: linear-gradient(91.62deg, hsla(25, 87%, 48%, 1) 0%, hsla(25, 95%, 61%, 1) 100%);
  --button-muted: linear-gradient(91.62deg, hsla(40, 8%, 72%, 1) 0%, hsla(40, 8%, 82%, 1) 100%);
  --button-danger: linear-gradient(91.62deg, hsla(360, 100%, 38%, 1) 0%, hsla(0, 95%, 50%, 1) 100%);
  --button-icon: hsla(36, 70%, 50%, 0.33);

  /* TYPOGRAPHY */
  --font-regular-12: var(--font-weight-regular) 0.75rem var(--font-family);
  --font-regular-14: var(--font-weight-regular) 0.875rem var(--font-family);
  --font-regular-16: var(--font-weight-regular) 1rem var(--font-family);
  --font-regular-18: var(--font-weight-regular) 1.125rem var(--font-family);
  --font-regular-20: var(--font-weight-regular) 1.25rem var(--font-family);
  --font-regular-24: var(--font-weight-regular) 1.5rem var(--font-family);
  --font-regular-30: var(--font-weight-regular) 1.875rem var(--font-family);
  --font-regular-36: var(--font-weight-regular) 2.25rem var(--font-family);
  --font-regular-48: var(--font-weight-regular) 3rem var(--font-family);
  --font-regular-60: var(--font-weight-regular) 3.75rem var(--font-family);
  --font-regular-72: var(--font-weight-regular) 4.5rem var(--font-family);

  --font-bold-12: var(--font-weight-bold) 0.75rem var(--font-family);
  --font-bold-14: var(--font-weight-bold) 0.875rem var(--font-family);
  --font-bold-16: var(--font-weight-bold) 1rem var(--font-family);
  --font-bold-18: var(--font-weight-bold) 1.125rem var(--font-family);
  --font-bold-20: var(--font-weight-bold) 1.25rem var(--font-family);
  --font-bold-24: var(--font-weight-bold) 1.5rem var(--font-family);
  --font-bold-30: var(--font-weight-bold) 1.875rem var(--font-family);
  --font-bold-36: var(--font-weight-bold) 2.25rem var(--font-family);
  --font-bold-48: var(--font-weight-bold) 3rem var(--font-family);
  --font-bold-60: var(--font-weight-bold) 3.75rem var(--font-family);
  --font-bold-72: var(--font-weight-bold) 4.5rem var(--font-family);

  /* EASING */
  --easing-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);

  /* SHADOW */
  --shadow-content: 0px 5px 15px 0px hsla(36, 50%, 40%, 0.1), 0px 4px 6px 0px hsla(36, 50%, 40%, 0.05);
  --shadow-button-main: 0px 1px 5px 0px hsla(25, 87%, 48%, 0.05), 0px 5px 15px 0px hsla(25, 87%, 48%, 0.1);
  --shadow-button-muted: 0px 1px 5px 0px hsla(40, 8%, 72%, 0.05), 0px 5px 15px 0px hsla(40, 8%, 72%, 0.1);
  --shadow-button-danger: 0px 1px 5px 0px hsla(360, 100%, 38%, 0.05), 0px 5px 15px 0px hsla(360, 100%, 38%, 0.1);
}

html, body {
  height: 100%;
}

body {
  background-color: var(--background-fill);
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
  background-size: 100% 26rem;
  color: var(--text-default);
  font-family: var(--font-family);
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-wrapper {
  flex: 1;
}

.content-wrapper--delete-confirmation {
  display: flex;
  align-items: center;
}

/* HEADER */
.main-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem 0;
}

.main-header__logo-link {
  display: flex;
}

.main-header__logo {
  width: 10.5rem;
}

.main-nav {
  justify-self: flex-end;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

.main-nav__list-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 0 1rem;
  list-style: none;
  display: flex;
  color: var(--text-default);
  text-decoration: none;
  font: var(--font-bold-16);
}

.main-nav__list-link::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 3px;
  margin-top: 0.25rem;
  border-radius: 0.25rem;
  background: var(--common-main);
  transform: scaleX(0);
  transition: transform 0.3s var(--easing-bounce);
}

.main-nav__list-link--current-page::after {
  transform: scaleX(1);
}

.main-nav__list-link:hover::after {
  transform: scaleX(2);
}

.main-nav__list-link:visited {
  color: var(--text-default);
}

/* FOOTER */
.footer {
  padding: 2rem 0 1.5rem;
  font: var(--font-bold-12);
  color: var(--text-muted);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* COMMON CONTENT */
.content-card {
  padding: 2rem;
  background: var(--common-content-background);
  box-shadow: var(--shadow-content);
  max-width: var(--max-width);
  margin: 0 auto;
  border-radius: 1rem;
  box-sizing: border-box;
}

.content-card__header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.content-card__header-container--error {
  margin-bottom: 0;
  justify-content: center;
  text-align: center;
}

.content-card__heading {
  margin: 0;
  font: var(--font-bold-36);
}

/* BUTTON */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: var(--font-bold-18);
  color: var(--text-white);
  background: var(--button-main);
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-button-main);
  appearance: none;
  border: 0;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
}

.button .material-icons {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: -0.5rem;
}

.button:hover,
.button:focus-visible {
  transform: scale(1.025);
}

.button:active {
  transform: scale(1);
}

.button--muted {
  background: var(--button-muted);
  box-shadow: var(--shadow-button-muted);
}

.button--danger {
  background: var(--button-danger);
  box-shadow: var(--shadow-button-danger);
}

/* ACTION BUTTON */
.action-button {
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  appearance: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: var(--text-muted);
  text-decoration: none;
  border-radius: 9999px;
  transition: 0.1s ease-in-out;
  transition-property: background, color;
}

.action-button--danger {
  color: var(--text-danger);
}

.action-button .material-icons {
  font-size: 1.25rem;
}

.action-button:hover,
.action-button:focus-visible {
  color: var(--common-main);
  background: var(--button-icon);
}

/* TABLE */
.table {
  width: 100%;
  border-spacing: 0;
}

.table__tbody::before {
  display: block;
  content: "\200C";
  line-height: 0.5rem;
}

.table__header {
  background: var(--table-header);
}

.table--non-interactive .table__cell,
.table__cell-link,
.table__header-cell,
.table__cell--actions {
  padding: 1rem 2rem;
  text-align: left;
}

.table__cell--actions {
  width: 4.5rem;
}

.table__cell,
.table__cell-link {
  white-space: nowrap;
  font: var(--font-regular-16);
  color: var(--text-default);
}

.table__cell-link {
  display: block;
  text-decoration: none;
}

.table__row {
  background: transparent;
  transition: background 0.1s ease-in-out;
}

.table:not(.table--non-interactive) .table__row:hover {
  background: var(--table-hover);
}

.table__header-cell {
  font: var(--font-bold-16);
  color: var(--text-muted);
}

.table__cell:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

.table__cell:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}

.table__actions-container {
  display: flex;
  gap: 0.5rem;
}

.table-wrapper {
  overflow: auto;
  width: 100%;
}

/* DELETE CONFIRMATION */
.delete-confirmation {
  width: 100%;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.delete-confirmation__heading {
  font: var(--font-bold-24);
  margin: 0;
}

.delete-confirmation__subject {
  font: var(--font-bold-16);
  color: var(--text-danger);
  margin: 0;
}

.delete-confirmation__subtext {
  font: var(--font-regular-16);
  margin: 0;
}

.delete-confirmation__buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 0.5rem;
}

.delete-confirmation__table {
  margin: 1rem 0;
}

.delete-confirmation__table__subtext {
  font: var(--font-regular-16);
  margin-top: 0;
  color: var(--text-danger);
}

/* SUCCESS MESSAGE */
.success-message, .error-message {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font: var(--font-bold-18);
  gap: 1rem;
}

.success-message .material-icons, .error-message .material-icons {
  font-size: 3rem;
}

.success-message {
  color: var(--text-success);
}

.error-message {
  color: var(--text-danger);
}

/* DETAILS */
.details__subheader {
  margin: 2rem 0 1rem;
  font: var(--font-bold-24);
}

/* FORM */
.form__global-error-message {
  display: none;
  color: var(--text-danger);
  font: var(--font-bold-16);
  margin: 2rem 0;
}

.form__global-error-message--visible {
  display: block;
}

.form__buttons-container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

/* INPUTS */
.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.25rem;
}

.input__element {
  font: var(--font-regular-16);
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--text-muted);
  border-radius: 4px;
  color: var(--text-default);
  background: var(--common-content-background);
  width: 20rem;
  box-sizing: border-box;
}

.input__element::placeholder {
  color: var(--text-muted);
}

.input__element:disabled {
  background: var(--table-header);
  color: var(--text-muted);
  opacity: 1;
}

.input__label {
  font: var(--font-regular-14);
  color: var(--text-default);
  cursor: pointer;
}

.input__label--disabled {
  cursor: default;
}

.input__info {
  font: var(--font-regular-14);
  color: var(--text-muted);
}

.input__info--danger {
  color: var(--text-danger);
}

.input__info--hidden {
  display: none;
}

.input--has-error .input__element {
  border-color: var(--text-danger);
}

/* EMPTY STATE */
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 4rem 0;
}

.empty-state__text {
  font: var(--font-bold-24);
  margin: 0;
}

.empty-state__icon {
  font-size: 5rem;
}

.hotel-stars {
  display: flex;
  align-items: center;
}

.hotel-stars__icon {
  color: var(--common-main);
}

/* HOTEL STARS */
.hotel-stars--stars-1 .hotel-stars__icon:nth-child(1) ~ .hotel-stars__icon,
.hotel-stars--stars-2 .hotel-stars__icon:nth-child(2) ~ .hotel-stars__icon,
.hotel-stars--stars-3 .hotel-stars__icon:nth-child(3) ~ .hotel-stars__icon,
.hotel-stars--stars-4 .hotel-stars__icon:nth-child(4) ~ .hotel-stars__icon,
.hotel-stars--stars-5 .hotel-stars__icon:nth-child(5) ~ .hotel-stars__icon {
  display: none;
}

/* MOBILE */
@media (max-width: 764px) {
  .main-header {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .main-nav {
    justify-self: unset;
  }

  .main-nav__list {
    flex-direction: column;
    align-items: center;
  }

  .content-card__header-container {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }

  .input__element {
    width: 100%;
  }

  body {
    padding: 0 0.5rem;
  }
}
