<!DOCTYPE html>
<html lang="en">
<%- include(utils.root('/partials/head.ejs'), { page: 'Hotele' }); %>
<body>
  <div class="page-wrapper">
    <%- include('./partials/page-header.ejs'); %>
    <div class="content-wrapper content-wrapper--delete-confirmation">
      <main class="content-card delete-confirmation">
        <h1 class="delete-confirmation__heading">Czy na pewno chcesz usunąć ten hotel?</h1>
        <p class="delete-confirmation__subject"><%= hotel.name %></p>
        <p class="delete-confirmation__subtext">
          Zostanie on usunięty natychmiastowo. Akcja ta jest nieodwracalna.
        </p>
        <form class="delete-confirmation__buttons" method="POST" action=".">
          <a class="button button--muted" href="../../">Anuluj</a>
          <button class="button button--danger" type="submit">
            Usuń Hotel
            <span class="material-icons">delete</span>
          </button>
        </form>
      </main>
    </div>
    <%- include(utils.root('/partials/footer.ejs')); %>
  </div>
</body>
</html>
