<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs', { isHome: false, page: 'Hotele' }); %>
<body>
  <div class="page-wrapper">
    <%- include('partials/page-header.ejs'); %>
    <div class="content-wrapper">
      <main class="content-card">
        <%-
          include(
            '../../partials/empty.ejs',
            {
              info: 'Brak hoteli',
              button: 'Dodaj Pierwszy Hotel'
            }
          );
        %>
      </main>
    </div>
    <%- include('../../partials/footer.ejs'); %>
  </div>
</body>
</html>
