<%
  const inputs = [
    {
      name: 'name',
      label: 'Nazwa Wycieczki',
      value: trip.name,
      required: true,
      type: 'text',
      error: errors?.name,
    },
    {
      name: 'price',
      label: 'Cena',
      value: trip.price,
      required: true,
      type: 'number',
      error: errors?.price,
    },
    {
      name: 'startoftripdate',
      label: 'Data Startu Wycieczki',
      value: utils.formatDate(trip.startoftripdate),
      required: true,
      type: 'date',
      error: errors?.startoftripdate,
    },
  ]
%>

<%- include(utils.root('/partials/inputs.ejs'), { inputs }); %>

<% if (!form.hideHotel) { %>
  <%-
    include(utils.root('/partials/select.ejs'), {
      name: 'idhotel',
      error: errors?.idhotel,
      disabled: form.disabled,
      label: 'Hotel',
      placeholder: '-- Wybierz Hotel --',
      elements: hotels,
      getValue: (hotel) => hotel.id,
      getOptionText: (hotel) => hotel.name,
      getIsSelected: (hotel) => hotel.id === trip.idhotel
    });
  %>
<% } %>

<% if (errors) { %>
  <div class="form__global-error-message">
    Formularz zawiera błędy
  </div>
<% } %>
