<%
  const inputs = [
    {
      name: 'name',
      label: 'Nazwa Wycieczki',
      value: trip.name,
      required: true,
      type: 'text',
      error: errors?.name,
    },
    {
      name: 'price',
      label: 'Cena',
      value: trip.price,
      required: true,
      type: 'number',
      error: errors?.price,
    },
    {
      name: 'startoftripdate',
      label: 'Data Startu Wycieczki',
      value: trip.startoftripdate ? utils.formatDate(trip.startoftripdate) : undefined,
      required: true,
      type: 'date',
      error: errors?.startoftripdate,
    },
  ]
%>

<%- include(utils.root('/partials/inputs.ejs'), { inputs }); %>

<% if (!form.hideHotel) { %>
  <div class="input<% if (form.hasError) { %> input--has-error<% } %>">
    <label class="input__label<% if (form.disabled) {%> input__label--disabled<%}%>">
      Hotel
    </label>
    <select
      name="idhotel"
      id="idhotel"
      class="input__element"
      <% if (form.disabled) {%>disabled<%}%>
    >
      <option value="" disabled selected>-- Wybierz Hotel --</option>
      <% for (let i = 0; i < hotels.length; i++) { %>
        <% const hotel = hotels[i] %>
        <option
          value="<%= hotel.id %>"
          <% if (hotel.id === trip.idhotel) { %>selected<% } %>
        >
          <%= hotel.name %>
        </option>
      <% } %>
    </select>

    <% if (errors?.idhotel) { %>
      <div class="input__info input__info--danger">
        <%= errors?.idhotel %>
      </div>
    <% } %>
  </div>
<% } %>

<% if (errors) { %>
  <div class="form__global-error-message">
    Formularz zawiera błędy
  </div>
<% } %>
