<header class="content-card__header-container">
  <h1 class="content-card__heading">Lista Wycieczek</h1>
  <a href="./add.html" class="button">
    Nowa Wycieczka
    <span class="material-icons">add</span>
  </a>
</header>
