<%
  const inputs = [
    {
      name: 'dateofpayment',
      label: 'Data Płatności',
      value: tripParticipant.dateofpayment,
      required: false,
      type: 'date'
    },
    {
      name: 'discount',
      label: 'Zniżka (%)',
      value: tripParticipant.discount,
      required: false,
      type: 'number'
    }
  ]
%>

<%- include('../../../partials/inputs.ejs', { inputs }); %>

<% if (!form.hideForeignFields) { %>
<div class="input<% if (form.hasError) { %> input--has-error<% } %>">
  <label class="input__label<% if (form.disabled) {%> input__label--disabled<%}%>">
    Uczestnik
  </label>
  <select
    name="participant"
    id="participant"
    class="input__element"
    <% if (form.disabled) {%>disabled<%}%>
  >
    <option value="default">-- Wybierz Uczestnika --</option>
    <option value="1"<% if (form.withValue) {%> selected="selected"<%}%>>Arkadiusz Kaczmarczyk</option>
    <option value="2">Edward Chmielewski</option>
    <option value="3">Franciszek Mazurek</option>
    <option value="4">Rafał Szymański</option>
    <option value="5">Jędrzej Nowak</option>
    <option value="6">Hubert Sokołowski</option>
    <option value="7">Maurycy Malinowski</option>
  </select>
  <% if (form.hasError) { %>
    <div class="input__info input__info--danger">
      Pole wymagane
    </div>
  <% } %>
</div>
<% } %>
