<%
  const inputs = [
    {
      name: 'dateofpayment',
      label: 'Data Płatności',
      value: tripParticipant.dateofpayment
        ? utils.formatDate(tripParticipant.dateofpayment)
        : undefined,
      error: errors?.dateofpayment,
      required: false,
      type: 'date'
    },
    {
      name: 'discount',
      label: 'Zniżka (%)',
      value: tripParticipant.discount,
      error: errors?.discount,
      required: false,
      type: 'number'
    }
  ]
%>

<%- include(utils.root('/partials/inputs.ejs'), { inputs }); %>

<% if (!form.hideForeignFields) { %>
  <%-
    include(utils.root('/partials/select.ejs'), {
      name: 'idparticipant',
      error: errors?.idparticipant,
      disabled: form.disabled,
      label: 'Uczestnik',
      placeholder: '-- Wybierz Użytkownika --',
      elements: participants,
      getValue: (participant) => participant.id,
      getOptionText: (participant) => `${participant.name} ${participant.surname}`,
      getIsSelected: (participant) => participant.id === tripParticipant.participant?.id
    });
  %>
  <%-
    include(utils.root('/partials/select.ejs'), {
      name: 'idtrip',
      error: errors?.idtrip,
      disabled: form.disabled,
      label: 'Wycieczka',
      placeholder: '-- Wybierz Wycieczkę --',
      elements: trips,
      getValue: (trip) => trip.id,
      getOptionText: (trip) => trip.name,
      getIsSelected: (trip) => trip.id === tripParticipant.trip?.id
    });
  %>
<% } %>

<% if (errors) { %>
  <div class="form__global-error-message">
    Formularz zawiera błędy
  </div>
<% } %>
