<div class="empty-state">
  <span class="material-icons empty-state__icon">cancel</span>
  <h2 class="empty-state__text">
    <%= info %>
  </h2>
  <a href="./add.html" class="button">
    <%= button %>
    <span class="material-icons">add</span>
  </a>
</div>
