<%
  const inputs = [
    {
      name: 'name',
      label: 'Nazwa Hotelu',
      value: hotel.name,
      required: true,
      type: 'text',
      error: errors?.name,
    },
    {
      name: 'numberofstars',
      label: 'Gwiazdki',
      value: hotel.numberofstars,
      required: true,
      type: 'number',
      min: '1',
      max: '5',
      error: errors?.numberofstars,
    }
  ]
%>

<%- include('../../../partials/inputs.ejs', { inputs }); %>

<% if (errors) { %>
  <div class="form__global-error-message">
    Formularz zawiera błędy
  </div>
<% } %>
