<%
  const inputs = [
    {
      name: 'name',
      label: 'Nazwa Hotelu',
      value: hotel.name,
      required: true,
      type: 'text',
      error: errors?.name,
    },
    {
      name: 'numberofstars',
      label: 'Gwiazdki',
      value: hotel.numberofstars,
      required: true,
      type: 'number',
      min: '1',
      max: '5',
      error: errors?.numberofstars,
    }
  ]
%>

<%- include('../../../partials/inputs.ejs', { inputs }); %>

<div class="form__global-error-message <% if (errors) { %>form__global-error-message--visible<% } %>">
  Formularz zawiera błędy
</div>
