<%
  const formatPrice = (value) => {
    const padStart = (value) => `000000${value}`.slice(-6);

    const thousands = Math.floor(value / 1000);
    const rest = value - thousands * 1000;

    if (thousands === 0) {
      return rest.toFixed(2).replace('.', ',')
    }

    const restAsString = rest
      .toFixed(2)
      .replace('.', ',');

    return `${thousands} ${padStart(restAsString)}`;
  }
%>

<div class="table-wrapper">
  <table class="table table--non-interactive">
    <thead>
      <tr class="table__header">
        <th class="table__cell table__header-cell">Nazwa</th>
        <th class="table__cell table__header-cell">Cena</th>
      </tr>
    </thead>
    <tbody class="table__tbody">
      <% for (let i = 0; i < trips.length; i++) { %>
        <% const trip = trips[i] %>
        <tr class="table__row">
          <td class="table__cell">
            <%= trip.name %>
          </td>
          <td class="table__cell">
            <%= formatPrice(trip.price) %> PLN
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
