<!DOCTYPE html>
<html lang="en">
<%- include(utils.root('/partials/head.ejs'), { page: 'Strona Główna' }); %>
<body>
  <div class="page-wrapper">
    <%- include(utils.root('/partials/header.ejs'), { selected: '' }); %>
    <div class="content-wrapper">
      <main class="content-card">
        <header class="content-card__header-container">
          <h1 class="content-card__heading">Strona Główna</h1>
        </header>
        <p>Veniam ad illo a quis qui veritatis impedit earum. Sequi dolorem saepe nesciunt omnis natus at. Id excepturi vel nulla fugiat. Omnis eum autem mollitia facere. Perferendis nisi aut et id autem ipsa illum. Odio iste debitis veritatis accusantium.</p>
        <p>A eaque qui nam maiores unde quaerat impedit ad. Dicta sunt consequatur sint voluptatibus magnam ducimus quos similique. Quia accusantium eos maiores et est nesciunt qui libero. Qui et qui tempora corporis autem reiciendis ut quis. At non quia. Ut harum sunt cum cupiditate.</p>
        <p>Commodi dolorem saepe voluptatum totam dolor expedita quod ad nihil. Beatae aliquid qui aut quibusdam officia in consectetur. Ab est nesciunt quis ut eveniet non at et placeat. Corrupti dolorum velit sunt. Nihil accusantium et. Fugiat consequatur quis facere vero.</p>
        <p>Id officia veniam. Eius dignissimos eveniet saepe eum nihil officia. Iste est asperiores. Impedit temporibus ipsam neque.</p>
        <p>Aliquid et libero impedit quo consequuntur ea dolorem. A dolore est sint ullam dolor non aut. Sed omnis qui occaecati eos et autem iste. Voluptatum ea architecto harum hic.</p>
        <p>Rerum voluptas sint aut quaerat fugit est ut reprehenderit a. Omnis aspernatur sit. Harum quia est ducimus. Quod corrupti hic. Maiores et unde adipisci asperiores occaecati.</p>
      </main>
    </div>
    <%- include(utils.root('/partials/footer.ejs')); %>
  </div>
</body>
</html>
