<!DOCTYPE html>
<html lang="en">
<%- include(utils.root('/partials/head.ejs'), { isHome: false, page: 'Wycieczki' }); %>
<body>
  <div class="page-wrapper">
    <%- include('partials/page-header.ejs'); %>
    <div class="content-wrapper">
      <main class="content-card">
        <form method="POST" action="." class="form" novalidate>
          <header class="content-card__header-container">
            <h1 class="content-card__heading">Edytuj Wycieczkę</h1>
          </header>
          <%-
            include('./partials/form.ejs', {
              trip,
              hotels,
              errors,
              form: {
                withValue: false,
              }
            })
          %>
          <div class="form__buttons-container">
            <button type="submit" class="button">Zapisz</button>
            <a href="/trips/" class="button button--muted">Anuluj</a>
          </div>
        </form>
      </main>
    </div>
    <%- include(utils.root('/partials/footer.ejs')); %>
  </div>

  <script src="/scripts/trips.js"></script>
</body>
</html>
